<div class="container">
    <div class="jumbotron">
      <form  #form="ngForm">
  
        <div class="form-group">
          <label for="password">username</label>
          <input type="text" name="username" id="username" [(ngModel)]="username"class="form-control" #usernameType="ngModel" required>
          <span class="help-block" *ngIf="usernameType.errors?.required && usernameType.touched" style="color: tomato;" >
            username  is required
          </span>
        </div>
        
        <div class="form-group">
          <label for="password">password</label>
          <input type="password" name="password" id="password" [(ngModel)]="password" class="form-control" #passwordType="ngModel" required>
          <span class="help-block" *ngIf="passwordType.errors?.required && passwordType.touched" style="color: tomato;">
            password  is required
          </span>
        </div>       
  
        <div class="text text-center">
          <button class="btn btn-primary" (click)="login()" [disabled]="!form.valid"> Submit </button>
        </div>
        <a [routerLink]="['/register']" routerLinkActive="router-link-active">Click (Go to Register)</a>
      </form>
    </div>
    </div>
  